.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 18s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.station{
  border: 1px solid white;
  margin: 50px 0;
}

.radio-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 150px;
}

.logo-app-name{
  margin-left: -20px;
}

.media-player{
  align-items: center;
}

.ResultCountry{
  margin: 12px 12px;
}

.ResultGenre{
  margin: 12px 12px;
}

.search-button{
  padding:  0.45rem 2rem;
  transform: translate(10%, 21.5%);
}

#result-country{
  padding: 3px 1px;
  border-radius: 12px;
}

#result-genre{
  padding: 3px 1px;
  border-radius: 12px;
}

.disclaimer{
  font-size: 10px;
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-message{
  display: flex;
  justify-content: center;
}

.top-pick{
  border: 1px solid white;
  margin: 50px 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 396px){  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .App-link {
    color: #61dafb;
  }
  
  .station{
    border: 1px solid white;
    margin: 50px 0;
  }
  
  .radio-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 150px;
  }
  
  .logo-app-name{
    margin-left: -20px;
  }
  
  .user-search{
    padding: 0 8px 0 8px;
    margin: 0;
  }
  
  .ResultCountry{
    margin: 12px 12px;
    transform: translateX(9.5%);
  }
  
  .ResultGenre{
    margin: 12px 12px;
    transform: translateX(9.5%);
  }
  
  .search-button{
    padding:  0.45rem 2rem;
    transform: translate(82%, 2.5%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #result-country{
    padding: 3px 1px;
    border-radius: 12px;
  }
  
  #result-genre{
    padding: 3px 1px;
    border-radius: 12px;
  }
  
  .disclaimer{
    font-size: 10px;
  }
  
  .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .welcome-message{
    display: flex;
    justify-content: center;
  }
  
  .top-pick{
    border: 1px solid white;
    margin: 50px 0;
  }
  
}
