@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -3000;
}

.navbar{
  display: flex;
  justify-content: center
}

.navlink {
  margin: 20px;
}

.App {
  position: relative;
  z-index: 1000;
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 18s linear;
  }
}

.brand{
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 450px;
}

.logo-app-name{
  font-size: 400%;
  /* transform: translateX(-5%); */
}

.slogan{
  /* color: red; */
}

.media-player{
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.stations-gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 20px 0 20px;
  z-index: 1000;
}

.station{
  border-radius: 8px;
  background-color: #21333f;
  box-shadow: -8px 10px 4.1px 0 rgba(0, 0, 0, 0.355);
  width: 88%;
  margin: 50px 50px;
  
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-message{
  display: flex;
  justify-content: center;
}

.user-search{
  width: 60%;
}

.top-pick{
  width: 350px;
  border-radius: 8px;
  background-color: #21333f;
  box-shadow: -8px 10px 4.1px 0 rgba(0, 0, 0, 0.355);
  margin: 50px 50px;
}

.top-pick-gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-btn {
  color: #a6bac9;
}

.logout-button {
  color: #a6bac9;
}

.add-favorite {
  color: #a6bac9;
}


.ResultCountry{
  margin: 12px 12px;
}

.ResultGenre{
  margin: 12px 12px;
}

.search-button{
  padding:  0.45rem 2rem;
  transform: translate(10%, 21.5%);
}

#result-country{
  padding: 3px 1px;
  border-radius: 12px;
  background-color:#1f2f3a;
  color: #a6bac9;
}

#result-genre{
  padding: 3px 1px;
  border-radius: 12px;
  background-color:#1f2f3a;
  color: #a6bac9;
}

.disclaimer{
  font-size: 10px;
}

.donate-button{
  color: #a6bac9;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 419px){  
  .App-logo {
    height: 40vmin;
  }

  .brand{
    transform: translateX(-3.5%);
  }
   
  .logo-app-name{
    font-size: 30px;
    transform: translateX(-10%);
  }
  
  .user-search{
    padding: 0 8px 0 8px;
    margin: 0;
    position: relative;
    transform: translate(-9%, 4%);
  }
  
  .ResultCountry{
    display: flex;
    flex-direction: column;
    transform: translate(2%, -190%);
  }
  
  .ResultGenre{
    display: flex;
    flex-direction: column;
    transform: translate(0%, -185%);
    margin-right: 160px;
  }
  
  .search-button{
    transform: translate(227%, -135%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcome-message{
    transform:translateX(17.5%)
  }

  .top-pick{
    transform: translateY(-10%);
    width: 100%;
    
  }

  .top-pick-gallery{
    display: inline-block;
    transform: translate(-3%, -7%)

  }

  .disclaimer{
    transform: translateY(-600%);
    font-size: 9px;
  }

  
}

@media screen and (max-width: 360px){  

  .logo-app-name{
    font-size: 22px;
    transform: translateX(-25%)

  }
  
  .user-search{
    transform: translate(-3%, 4%);
  }
  
  .ResultCountry{
    transform: translate(3%, -205%);
  }
  
  .ResultGenre{
    transform: translate(6.3%, -185%);
  }
  
  .search-button{
    transform: translate(320%, 80%);
    padding: 10px;
  }

  .welcome-message{
    transform:translateX(19%)
  }

  .top-pick-gallery{
    display: inline-block;
    transform: translate(-14%, -7%)

  }

  .disclaimer{
    transform: translateY(-250%);
    font-size: 8px;
  }

  
}

@media screen and (min-width: 601px){
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    width:  400px;
    height: 400px;
  }
  
  .brand{
    /* transform: translateX(-2.5%); */
    margin-top: 250px; 
  }

  .logo-app-name{
    margin: 0;
    font-size: 150px;
  }
  
  .user-search{
    padding: 0 8px 0 8px;
    margin: 0;
    transform: translateY(30%);
  }
  
  .ResultCountry{
    transform: translate(-23%, -300%);
  }
  
  .ResultGenre{
    transform: translate(-23%, -300%);
  }
  
  .search-button{
    transform: translate(360%, -130.5%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .disclaimer{
    font-size: 15px;
  }

  .station{
    margin: 25px 25px;
    width: 390px;
  }
  
  .stations-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;  
  }

  .top-pick{
    width: 390px;
  }

}
