@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -3000;
}

.navbar {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color:#72799b;
  box-shadow: 0px 12px 5.1px 0 rgba(0, 0, 0, 0.255);
}

.navlink {
  margin: 20px 85px 20px 20px;
  color: #121629;
  transform: translateX(10%);
}

.navicon {
  color: #121629;
}

.reg-navlink {
  margin-left: 5px;
  color: #eebbc3;
}

.App {
  position: relative;
  z-index: 1000;
  text-align: center;
}

.brand{
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.logo-app-name{
  z-index: -1;
  width: 1500; 
  height: 700;
  transform: translateX(1%);
}

.slogan{
  color: #eebbc3;
}

.media-player{
  align-items: center;
}

.App-link {
  color: #eebbc3;
}

.favorites {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;  
}

.stations-gallery{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap; 
  align-items: center;
  /* flex-direction: row; */
  justify-content: center;  
  width: 90%;
  margin: 0 20px 0 20px;
  z-index: 1000;
  transform: translateX(62px);
}

.station{
  border-radius: 8px;
  background-color: #b8c1ec;
  box-shadow: -8px 10px 4.1px 0 rgba(0, 0, 0, 0.355);
  width: 88%;
  margin: 50px 50px;
}

.stations{
  border-radius: 8px;
  background-color: #b8c1ec;
  box-shadow: -8px 10px 4.1px 0 rgba(0, 0, 0, 0.355);
  width: 363.2px;
  margin: 50px 50px;
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-message{
  display: flex;
  justify-content: center;
}

.user-search{
  width: 30%;
}

.login-field {
  width: 60%;
  transform: translateX(10%);
}

.top-pick{
  width: 350px;
  border-radius: 8px;
  background-color: #21333f;
  box-shadow: -8px 10px 4.1px 0 rgba(0, 0, 0, 0.355);
  margin: 50px 50px;
}

.top-pick-gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #121629;
}

.play-pause {
  transform: translateY(4%)
  /* display: flex; */

}

.radio-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.station-button{
  background-color: #ddabb2;
  border: 1px solid #8a92b9;
  box-shadow: -2px 2px 2.1px 0 rgba(0, 0, 0, 0.355);
}

.btn {
  color: #232946;
  background-color: #eebbc3;
}

.remove-btn {
  color: #121629;
  border: 1px solid #8a92b9;
  box-shadow: -1px 1px 2.2px 0 rgba(0, 0, 0, 0.355);
}

.logout-button {
  color: #121629;
}


.ResultCountry{
  margin: 12px 12px;
}

.ResultGenre{
  margin: 12px 12px;
}

.search-button{
  padding:  0.45rem 2rem;
  transform: translate(10%, 21.5%);
}

#result-country{
  padding: 3px 1px;
  border-radius: 12px;
  background-color:#1f2f3a;
  color: #a6bac9;
}

#result-genre{
  padding: 3px 1px;
  border-radius: 12px;
  background-color:#1f2f3a;
  color: #a6bac9;
}

.disclaimer{
  font-size: 10px;
}

.donate-button{
  color: #121629;
}

.favControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20%;
  transform: translate(4%, -30%);
}

.playControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20%;
  transform: translateY(5%);
}

.details {
  display: flex;
  justify-content: flex-start;
  transform: translateY(-5%);
}


@keyframes scrolling {
  0% { transform: translateX(0vw); }
  50% { transform: translateX(0vw); }
  100% { transform: translateX(-54vw); }
}


@media screen and (max-width: 419px){  
 .content-title {
  animation: scrolling 15s linear infinite;
 }

 @keyframes scrolling {
  0% { transform: translateX(0vw); }
  50% { transform: translateX(0vw); }
  100% { transform: translateX(-100%); }
}

  .navicon{
    transform: translateX(85%);
  }

  .navlink {
    margin: 30px 40px 30px 20px;
    transform: translateX(15%);
  }

  .brand{
    margin-top: 110px;
  }

  .media-player{
    width: 100%;
  }
   
  .logo-app-name{
    width: 99%; 
    height: auto;
  }
  
  .user-search{
    padding: 0 22px 0 22px;
    width: 95%;
    margin: 0;
    position: relative;
    transform: translate(-19.5%, 8%);
  }
  
  .ResultCountry{
    display: flex;
    flex-direction: column;
    transform: translate(2%, -190%);
  }
  
  .ResultGenre{
    display: flex;
    flex-direction: column;
    transform: translate(0%, -185%);
    margin-right: 160px;
  }

  .station {
    width: 88%;
    margin: 30px 50px
  }

  .stations{
    width: 96.8%;
    margin: 30px 0px;
  }

  .stations-gallery {
    transform: translateX(0%);
  }
  
  .search-button{
    transform: translate(212.5%, -135%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcome-message{
    transform:translateX(17.5%)
  }

  .top-pick{
    transform: translateY(-10%);
    width: 100%;
  }

  .top-pick-gallery{
    display: inline-block;
    transform: translate(-16.5%, -7%)
  }

  .disclaimer{
    transform: translateY(-600%);
    font-size: 9px;
  }

  .login-field {
    width: 60%;
    transform: translateX(2%);
    margin-bottom: 12px;
  }

  .favControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    transform: translate(2.5%, -35%);
  }
  
  .playControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    transform: translateY(5%);
  }
  
  .details {
    display: flex;
    justify-content: flex-start;
    transform: translateY(32.5px);
    /* margin-top: ; */
  }

  .favorites {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    align-items: center;
    justify-content: center;  
  }


}


@media screen and (max-width: 360px){  

  .logo-app-name{
    font-size: 22px;
    transform: translateX(-25%)

  }
  
  .user-search{
    transform: translate(-3%, 4%);
  }
  
  .ResultCountry{
    transform: translate(3%, -205%);
  }
  
  .ResultGenre{
    transform: translate(6.3%, -185%);
  }
  
  .search-button{
    transform: translate(320%, 80%);
    padding: 10px;
  }

  .welcome-message{
    transform:translateX(19%)
  }

  .top-pick-gallery{
    display: inline-block;
    transform: translate(-14%, -7%)

  }

  .disclaimer{
    transform: translateY(-250%);
    font-size: 8px;
  }

  
}

@media screen and (min-width: 601px){
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    width:  400px;
    height: 400px;
  }
  
  .brand{
    margin-top: 115px; 
  }


  .login-page {
    background-color:rgba(33, 52, 65, 0.64);
    margin: 30px 90px 30px 90px;
    padding: 30px 0px 30px 0px;
    border-radius: 8px;
  }

  .login-field {
    width: 15%;
  }
  
  .user-search{
    padding: 0 8px 0 8px;
    margin: 0;
    transform: translateY(30%);
  }
  
  .ResultCountry{
    transform: translate(-23%, -300%);
  }
  
  .ResultGenre{
    transform: translate(-23%, -300%);
  }
  
  .search-button{
    transform: translate(225%, -130.5%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .disclaimer{
    font-size: 15px;
  }

  .station{
    margin: 25px 25px;
    width: 390px;
  }
  

  .top-pick{
    width: 390px;
  }

}


@media screen and (max-width: 360px){  

  .logo-app-name{
    font-size: 22px;
    transform: translateX(-25%)

  }
  
  .user-search{
    transform: translate(-3%, 4%);
  }
  
  .ResultCountry{
    transform: translate(3%, -205%);
  }
  
  .ResultGenre{
    transform: translate(6.3%, -185%);
  }
  
  .search-button{
    transform: translate(320%, 80%);
    padding: 10px;
  }

  .welcome-message{
    transform:translateX(19%)
  }

  .top-pick-gallery{
    display: inline-block;
    transform: translate(-14%, -7%)

  }

  .disclaimer{
    transform: translateY(-250%);
    font-size: 8px;
  }

  
}

@media screen and (max-width: 320px){  

  .logo-app-name{
    font-size: 22px;
    transform: translateX(-25%)

  }
  
  .user-search{
    transform: translate(-3%, 4%);
  }
  
  .ResultCountry{
    transform: translate(3%, -205%);
  }
  
  .ResultGenre{
    transform: translate(6.3%, -185%);
  }
  
  .search-button{
    transform: translate(320%, 80%);
    padding: 10px;
  }

  .welcome-message{
    transform:translateX(19%)
  }

  .top-pick-gallery{
    display: inline-block;
    transform: translate(-14%, -7%)

  }

  .disclaimer{
    transform: translateY(-250%);
    font-size: 8px;
  }

  
}