
body {
   
  background: linear-gradient(to bottom, #1d282e 0%,#1d2930 24%,#17252d 64%,#0e1f29 100%);
  margin: 0;
  color: #a6bac9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-top: 1px solid #677d90;
  background-color: #0b1920;
  color: #476b85;
}

input {
  background-color: #202b32;
  border: 5px solid #2f4858;
  border-radius: .3rem;
  color: #a6bac9;
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  width: 55%;
  margin: 20px 0;
  transform: translateX(6%);
}

button {
  background-color: #39566a;
  border: 2px solid #1d2e38;
  border-radius: 2rem;
  flex-grow: 0;
  font-size: 1.2rem;
  line-height: 1;
  padding:  0.25rem 2rem;
  text-transform: uppercase;
  margin: 1rem 1rem;
}


@media screen and (max-width: 419px) {

  /* nav{
    width: 93.5%; 
    transform: translatX(-20%);
    margin: 2px 2px 0 2px;
    padding-top: 55px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    z-index: 3000;
  } */

  header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  
  input {
    width:62%;
    margin: 2px 0;
  }
  
  button {
    border: 0;
  }
  
}

@media screen and (min-width: 601px){
   
  nav {
    width:50%;
    transform: translateX(50%);
    position: fixed;
    z-index: 3000;
  }
  
  header {
    padding: 1rem 0 0 0;
  }
  
  input {
    width:100%;
    margin: 1px 20px 0 0;
    transform: translateX(-18%);
  }
  
  button {
    border: 0;
  }

}
