body {
  margin: 0;
  color: #b8c1ec;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas{
  position:fixed;
  left:0;
  top:0;
  z-index:-1000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-top: 1px solid #7e6064;
  background-color: #171a2e;
  color: #b8c1ec;
}

input {
  background-color: #171a2e;
  border: 5px solid #72799b;
  border-radius: .3rem;
  color: #eebbc3;
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  width: 55%;
  margin: 20px 0;
  transform: translateX(6%);
}

button {
  color: #241d42;
  background-color: #dbaab1;
  border: 2px solid #212847;
  border-radius: 2rem;
  flex-grow: 0;
  font-size: 1.2rem;
  line-height: 1;
  padding:  0.25rem 2rem;
  text-transform: uppercase;
  margin: 1rem 1rem;
}

a{
  text-decoration: none;
}

a:visited { 
  text-decoration: none; 
 }

a:hover { 
  text-decoration: none; color:#eebbc3; 
  text-shadow: 0 0 10px #eec4ca, 0 0 20px #9e7278, 0 0 30px #ac8187, 0 0 2px #cfa3aa, 0 0 4px #b88a91, 0 0 5px #f0c7cd, 0 0 6px #9e797f;
}
a:focus {
   text-decoration: none; color:rgb(145, 89, 110); 
}
a:active {
   text-decoration: none; color:rgb(100, 82, 133); 
}

@media screen and (min-width: 601px){
   
  nav {
    width: 100%;
    position: fixed;
    z-index: 3000;
  }
  

  header {
    padding: 1rem 0 0 0;
  }
  
  input {
    width:100%;
    margin: 1px 20px 0 0;
    transform: translateX(-18%);
  }
  
  button {
    border: 0;
  }

}


@media screen and (max-width: 419px) {

  body {
    background: #232946;
    
  }

  nav {
    width: 10%;
    position: fixed;
    z-index: 3000;
  }

  
  canvas {
    display: none;
    visibility: hidden;
  }

  header{
    display: flex;
    justify-content: center;
  }
  
  
  input {
    width:61.5%;
    margin: 2px 0;
  }
  
  button {
    border: 0;
  }
  
}


@media screen and (max-width: 360px) {

  header{
    display: flex;
    justify-content: center;
  }
  
  
  input {
    width:22%;
    margin: 2px 0;
  }
  
  button {
    border: 0;
  }

  
}

@media screen and (max-width: 321px) {


  header{
    display: flex;
    justify-content: center;
  }
  
  
  input {
    width:22%;
    margin: 2px 0;
  }
  
  button {
    border: 0;
  }

  nav {
    position: fixed;
    width: 63%;
    transform: translateX(3.2%);
    z-index: 1000;
    height: 100%;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
  
}